* {
	font-family: "Roboto Slab", serif;
}

/* General Styling */

.container {
	margin: 0 auto;
	width: 50%;
}

/* Header */

header {
	margin: 2em;
	text-align: center;
}

/* Navigation */

.nav-items {
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav-item {
	margin: 0 1em;
	list-style-type: none;
}

.nav-item a {
	color: #cd5555;
}

.active {
	background-color: #cd5555;
	color: white;
}

/* Countdown Timer */

.countdown-container {
	text-align: center;
	margin: 2em auto;
	padding: 1em 0;
	width: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 25px;
}

/* Explanation */

.explanation {
	text-align: center;
}

/* Contact */

.contact {
	display: flex;
	justify-content: center;
}

.contact a {
	margin: 0 1em;
}

/* Blog Posts */

.blog-post {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 2rem;
	margin: 2rem;
	text-align: left;
}

/* Mobile View */

@media (max-width: 480px) {
	.countdown-container {
		width: 80%;
	}
	.container {
		width: 90%;
	}
	.nav-items {
		flex-direction: column;
	}
	.nav-item {
		margin: 0.5rem auto;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 25px;
		padding: 0.5rem;
		width: 70%;
	}
	.nav-item a {
		text-decoration: none;
	}
}

/* Tablet View */

@media (min-width: 480px) and (max-width: 768px) {
	.container {
		width: 70%;
	}
	.countdown-container {
		width: 70%;
	}
}
