* {
	font-family: "Roboto Slab", serif;
}

/* General Styling */

.container {
	margin: 0 auto;
	width: 50%;
}

.link {
	color: #5ea758;
}

.recent-post {
	padding: 2em 0;
	text-align: center;
}

/* Header */

header {
	margin: 2em;
	text-align: center;
}

/* Navigation */

.nav-items {
	padding: 0;
	display: flex;
	justify-content: center;
}

.nav-item {
	margin: 0 1em;
	list-style-type: none;
}

.nav-item a {
	color: #5ea758;
	text-decoration: none;
	display: block;
}

.active {
	text-decoration: underline;
}

/* Countdown Timer */

.countdown-container {
	text-align: center;
	margin: 2em auto;
	padding: 1em 0;
	width: 50%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 25px;
}

/* Explanation */

.explanation {
	text-align: center;
	padding: 1em;
}

.explanation-image {
	width: 3rem;
}

/* Contact */

.contact {
	text-align: center;
}

.contact-links {
	display: flex;
	justify-content: center;
}

.contact a {
	margin: 1em;
	color: #5ea758;
}

/* Blog Posts */

.blog-post {
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 2rem;
	margin: 2rem;
	text-align: left;
}

/* About Me */

.about p {
	margin: 1em auto;
}

/* Progress */

.progress {
	text-align: center;
	padding: 2em 0;
}

.progress a {
	color: #5ea758;
}

/* Portfolio */

.portfolio {
	text-align: center;
}

.portfolio h2 {
	margin: 100px 0;
}

.portfolio a {
	color: #5ea758;
}

/* Tools */

.tools {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.tool {
	box-shadow: rgba(160, 157, 165, 0.6) 0px 8px 24px;
	text-align: center;
	margin: 0 1em;
	padding: 1em;
}

.tool a {
	color: #5ea758;
}

/* Mobile View */

@media (max-width: 480px) {
	.countdown-container {
		width: 80%;
	}
	.container {
		width: 90%;
	}
	.nav-items {
		flex-direction: column;
	}
	.nav-item {
		margin: 0.5rem auto;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 25px;
		padding: 0.5rem;
		width: 70%;
		text-align: center;
	}
	.nav-item a {
		text-decoration: none;
	}
	.blog-post {
		text-align: center;
	}
	.tools {
		display: flex;
		flex-direction: column;
		margin: 2rem;
	}
	.tool {
		margin: 1rem 0;
	}
}

/* Resources */

/* Tablet View */

@media (min-width: 480px) and (max-width: 768px) {
	.container {
		width: 70%;
	}
	.countdown-container {
		width: 70%;
	}
}
